<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{admin/base.html}" >

<head>
	<style> 
		.form-control {
			width: 80%;
		}
		.mt {
			margin-top: 2%;
		}
		.invalid-feedback {
			color: red;
		}
	</style>
	<script src="/js/book.js" ></script>
</head>
<body>
    <!--main content start-->
       	<section id="main-content" layout:fragment="content">
    	<section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-files-o"></i>Thêm Sách</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-pencil-square"></i><a th:href="@{/admin/book}">Sách</a></li>
              <li><i class="icon_document_alt"></i>thêm sách</li>
            </ol>
          </div>
        </div>
    	
		<!-- form new -->	
		<div class="panel-body">
		 <form class="form-validate form-horizontal" id="feedback_form" method="post" th:object="${book}" th:action="@{/admin/book/new}"
		 		enctype="multipart/form-data">
		   <div class="col-lg-7">
                <div class="form">
                	<!-- name -->
                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Tên Sách</label>
                      <div class="col-lg-10">
                        <input class="form-control" id="cname" name="name" type="text"
                        		th:errorClass="is-invalid" />
                        	<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                      </div>
                    </div>
                    
                    <!-- isbn -->
                    <div class="form-group ">
                      <label for="cemail" class="control-label col-lg-2">ISBN</label>
                      <div class="col-lg-10">
                        <input class="form-control " id="cemail" type="number" name="isbn" 
                        	 /> 
                      </div>
                                 
                    </div>
                    
                    <!-- category -->
                    <div class="form-group ">
                      <label for="ccategory" class="control-label col-lg-2">Thể Loại</label>
                      <div class="col-lg-10">
                        <select name="category" id="ccategory" class="form-control" required="required">
                        		<option>- Chọn Thể Loại -</option>
                        		<option  th:each=" category : ${category}" th:text="${category.name}" th:value="${category.id}"></option>
                        </select>
                      </div>
                    </div>
                   <!--  
              			author-->
                    <div class="form-group ">
                      <label for="cauthor" class="control-label col-lg-2">Tác Giả</label>
                      <div class="col-lg-10">
                       <select name="author" id="cauthor" class="form-control" required="required">
                        	<option>- Chọn Tác Giả -</option>
                        	<option  th:each=" author : ${author}" th:text="${author.name}" th:value="${author.id}"></option>
                        </select>
                      </div>
                    </div>
                    
                    <!-- publisher -->
                    <div class="form-group ">
                      <label for="cpublisher" class="control-label col-lg-2">Nhà Xuất Bản</label>
                      <div class="col-lg-10">
                        <select name="publisher" id="cpublisher" class="form-control" required="required">                
                        		<option>- Chọn Nhà Xuất Bản -</option>
                        		<option th:each=" publisher : ${publisher}" th:text="${publisher.name}" th:value="${publisher.id}"></option>
                        </select>
                      </div>
                    </div> 
                </div>
			</div>
			
			<div class="col-lg-4 text-center">
				<!-- img -->
				<img class="my_profile_picture text-center" id="imageFile" style="height: 200px; width: 200px;" src="/image/book.png" alt="profile photo" />
				<br /><br />
				<div class="col-lg-9">
                      <input class="form-control " id="productImage" name="imageFile" type="file"  onchange="chooseFilePublisher(this)"></input>
                </div>    
                <br /><br /><br />
			</div>
			<br />
			 <div class="col-lg-5">
                 <textarea th:text="${book.description}" name="description" id="description" class="form-control" cols="30" rows="6" th:errorClass="is-invalid"></textarea>
                 <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>
             </div>
			<!-- button -->
			<div class="form-group text-center ">
                <div class="col-lg-offset-1 col-lg-9 mt">
                   <button class="btn btn-primary" type="submit">Thêm Sách</button>
                   <button class="btn btn-default" onclick="reset()" type="reset">Reset</button>
                   <a class="btn btn-info" th:href="@{/admin/book}">Quay lại</a>
                   
                </div>
            </div>
		 </form>
     </div>
	<!-- form new end -->	
     	 
    	</section>
	</section>	  
    <!--main content end-->
   
</body>

</html>
