<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{admin/base.html}" >

<head>
	<style> 
		.form-control {
			width: 80%;
		}
		.mt {
			margin-top: 2%;
		}
		.invalid-feedback {
			color: red;
		}
	</style>
	<script src="/js/author.js" ></script>
	  <link rel="stylesheet" href="/css/account.css">
</head>
<body>
    <!--main content start-->
       	<section id="main-content" layout:fragment="content">
    	<section class="wrapper">
        <div class="container">
    <div class="team-single">
        <div class="row" th:if="${account}">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img th:src="@{'/image/account/' + ${account.image}}" alt="">
                </div>
                <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                    <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">- Giới Tiệu Bản Thân -</h4>
                    <p class="sm-width-95 sm-margin-auto" th:text="${account.description}" ></p>
             
                </div>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h3 class="font-size38 sm-font-size32 xs-font-size30" th:text="${account.name}"></h3>
                    <br />
                    <div class="contact-info-section margin-40px-tb">
                        <ul class="list-style9 no-margin">
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-graduation-cap text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Tài Khoản:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p th:text="${account.username}" ></p>
                                    </div>
                                </div>

                            </li>
                           <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-envelope text-pink"></i>
                                        <strong class="margin-10px-left xs-margin-four-left text-pink">Email:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p><a href="javascript:void(0)" th:text="${account.email}"  ></a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-birthday-cake"></i>
                                        <strong class="margin-10px-left text-lightred">Năm Sinh:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p th:text="${account.year}" ></p>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Địa Chỉ:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p th:text="${account.address}" >.</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-mobile-alt text-purple"></i>
                                        <strong class="margin-10px-left xs-margin-four-left text-purple">Số Điện Thoại:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p th:text="${account.phone}" ></p>
                                    </div>
                                </div>

                            </li>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     	 <!-- button -->
     	  <div class="form-group text-center ">
                <div class="col-lg-offset-1 col-lg-9 mt">
                   <a class="btn btn-primary" th:href="@{'/admin/account/findById/' + ${account.id}}" >Đổi Thông Tin</a> &nbsp&nbsp
                   <a class="btn btn-info" >Thêm Admin</a> &nbsp&nbsp
                   <a class="btn btn-warning" >Đổi Mật Khẩu</a>          
                </div>
            </div>
       
    	</section>
    	     <!-- message -->
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-' + session.message.type}"
				class="alert text-center" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}" ></th:block>
		</div>
		<!-- message end-->
	</section>	  
    <!--main content end-->
   
</body>

</html>
