<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{admin/base.html}" >

<head>
	
</head>
<body>
    <!--main content start-->
       	<section id="main-content" layout:fragment="content">
    	<section class="wrapper">
        <div class="container">
    <div class="team-single">
      
	<h1>Trang Chu</h1>
    </div>
</div>
 
       
    	</section>
  
	</section>	  
    <!--main content end-->
   
</body>

</html>
