<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{user/base.html}" >

<head>
	<link rel="stylesheet" href="/user.css"> 
	<script src="/js/user.js" ></script>
</head>

<body>
	<div class="" layout:fragment="content" >
	<section class="single-page-header" >

			<!-- message -->
			<div class="row justify-content-center">
				<header>
					<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert"
						role="alert">
						<p style="color: red;" class="text-center"
							th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
				</header>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>Thông Tin Cá Nhân</h2>
						</div>
					</div>
				</div>
		</section>
	<!--main content start-->
    <section class="blog-details section" id="main-content" >

      	
    <!-- blog details part start -->
  <div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
             
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    <form th:action="@{/user/info}" th:object="${user}" enctype="multipart/form-data" method="post">
      <input class="form-control " name="id" type="hidden" th:value="${user.id}"/>
       <!-- username -->
      <input class="text-secondary mb-1" type="hidden" name="username" th:value="${user.username}"  ></input>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img id="image" th:src="@{${user.photosImagePath}}" alt="Admin" class="rounded-circle" width="150">
                     <input class="form-control " id="productImage" name="imageFile" type="file"  onchange="chooseFile(this)"></input>
                    <div class="mt-3">
                    
                     <!-- Tên -->
                      <input class="form-input" id="name" name="name" type="text" th:value="${user.name}">
                     
                     <!-- description -->
                     	<div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                     	<br />
							<p class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">-
									Giới Tiệu Bản Thân -</p>
						<textarea name="description"  class="sm-width-95 sm-margin-auto" rows="4" cols="38" th:text="${user.description}"></textarea>
						</div>
						<br />
                      <!-- btn -->
                	 <button type="submit" class="btn btn-primary">Cập Nhật</button>
                     <a class="btn btn-outline-primary" th:href="@{/user/info}">Quay Lại</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <input class="form-input" id="email" name="email" type="email" th:value="${user.email}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Điện Thoại</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input class="form-input" id="phone" name="phone" type="number" th:value="${user.phone}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Năm Sinh</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input class="form-input" id="year" name="year" type="number" th:value="${user.year}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Địa Chỉ</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input class="form-input" id="address" name="address" type="text" th:value="${user.address}">
                    </div>
                  </div>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
         </form>
       </div>
    </div>
</section>
</div>
<!-- blog details part end -->
    <!--main content end-->
	
</body>

</html>
