<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{user/base.html}" >

<head>

</head>

<body>
    <!--main content start-->

<div layout:fragment="content" >

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Chi Tiết</h2>

			</div>
		</div>
	</div>
</section>
<section class="posts section">
	<div class="container">
    <div class="row" th:if="${book}" >
      <div class="col-lg-8">
        <article class="post">
          <div class="post-image">
            <img class="img-fluid w-50" th:src="@{${book.photosImagePath}}" alt="post-image">
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <aside class="sidebar">
          <div class="widget-categories widget">
            <h2 th:text="*{book.name}" ></h2>
            <!-- widget categories list -->
            <ul class="widget-categories-list">
              <li>
                <a>Mã: [[${book.isbn}]]</a>
              </li>
              <li>
                <a>Tác Giả: [[${book.author.name}]]</a>
              </li>
              <li>
                <a>Thể Loại: [[${book.category.name}]]</a>
              </li>
              <li>     
              	<span>Giới Thiệu: </span>   <br />     		
                <p>[[${book.description}]]</p>
              </li>
              <li>
              	<a class="btn btn-main" href="single-post.html">Mượn</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
</div>    
    <!--main content end-->
</body>

</html>
