<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{user/base.html}" >

<head>
	<link href="/css.css" rel="stylesheet">
</head>

<body>
    <!--main content start-->

<div layout:fragment="content" >

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Chi Tiết</h2>

			</div>
		</div>
	</div>
</section>
<section class="posts section">
	<div class="container">
    <div class="row" th:if="${book}" >
      <div class="col-lg-8">
        <article class="post">
          <div class="post-image">
            <img class="img-fluid w-50" th:src="@{${book.photosImagePath}}" alt="post-image">
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <aside class="sidebar">
          <div class="widget-categories widget">
            <h2 th:text="*{book.name}" ></h2>
            <!-- widget categories list -->
            <ul class="widget-categories-list">
              <li class="comment-list-item">
                <div class="comment-list-item-image">
                  <img class="my_profile_picture" th:src="@{${book.photosImagePath}}" alt="avatar">
                </div>
                <div class="comment-list-item-content">
                  <h5>Mã Sách</h5>
                  <p>[[${book.isbn}]]</p>
                </div>
              </li>
              <li class="comment-list-item">
                <div class="comment-list-item-image">
                  <img class="my_profile_picture" th:src="@{${book.author.photosImagePath}}" alt="avatar">
                </div>
                <div class="comment-list-item-content">
                  <h5>Tác Giả</h5>
                  <p>[[${book.author.name}]]</p>
                </div>
              </li>
              <li class="comment-list-item">
                <div class="comment-list-item-image">
                  <img class="my_profile_picture" src="/user/images/book-icon.png" alt="avatar">
                </div>
                <div class="comment-list-item-content">
                  <h5>Thể Loại</h5>
                  <p>[[${book.category.name}]]</p>
                </div>
              </li>
              <li class="comment-list-item">
                <div class="comment-list-item-image">
                  <img class="my_profile_picture" th:src="@{${book.publisher.photosImagePath}}" alt="avatar">
                </div>
                <div class="comment-list-item-content">
                  <h5>Nhà Xuất Bản</h5>
                  <p>[[${book.publisher.name}]]</p>
                </div>
              </li>
              <li class="comment-list-item">
                <div class="comment-list-item-content">
                  <h5>Giới Thiệu</h5>
                  <p>[[${book.description}]]</p>
                </div>
              </li>
              <li>
              	<a class="btn btn-main" href="single-post.html">Mượn</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
</div>    
    <!--main content end-->
</body>

</html>
