<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{user/base.html}" >

<head>
	<script src="/js/book-home/book-home.js" ></script>
</head>

<body>
    <!--main content start-->

<div layout:fragment="content" >

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Sách</h2>

			</div>
		</div>
	</div>
</section>



<section class="posts section">
	<div class="container">
		<!-- search -->
			<div class="widget-search widget">
            <form action="#">
              <!-- Search bar -->
              <input  data-toggle="dropdown" onkeydown="dropDown(event);" id="search" class="form-control" 
              				type="search" placeholder="Tìm Kiếm Sách .............">
              						
              <div class="dropdown-menu ropdown-menu-right ml-8" id="dropdown-container">
          	  </div>		
            </form>
          </div>
		<div class="row">
			<!-- /section title -->
			<!-- single blog post -->
			<article class="col-md-4 col-sm-6 col-xs-12 clearfix  "  th:each="book : ${book}">
				<div class="post-item"  >
					<div class="media-wrapper" style="max-width: 80%;" >
						<img th:src="@{${book.photosImagePath}}" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content" style="max-width: 80%;">
						<h3><a href="single-post.html" th:text="${book.name}" ></a></h3>
						<p th:text="${book.description}" ></p>
						<a class="btn btn-main" th:href="@{'/book/findById/' + ${book.id}}" >Chi Tiết</a>
						<a class="btn btn-main" href="single-post.html">Mượn</a>
					</div>
				</div>
			</article>
		</div>
		<div>
 				<h5 style="color:red; font-weight: bold;" >Số lượng Sách: [[${totalItems}]]</h5> 
 				<h5 style="color:red; font-weight: bold;" >Trang [[${currentPage}]] / [[${totalPages}]]</h5> 	
         	</div>
	</div>
			
	<!-- phân trang -->
			<div class="text-center" style="margin-left: 35%;" >
				<nav aria-label="Page navigation example">
				<ul class="pagination">
				
					<li class="page-item">
						<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/book/page/1'}">Đầu Tiên</a>
						<span class="page-link" th:unless="${currentPage > 1}">Đầu Tiên</span>
					</li>
					<li class="page-item">
						<a class="page-link"  th:if="${currentPage > 1}" th:href="@{'/book/page/' + ${currentPage - 1}}">Về Trước</a>
						<span class="page-link" th:unless="${currentPage > 1}">Về Trước</span>
					</li>
					<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" >
   						<a class="page-link" th:if="${currentPage != i}" th:href="@{'/book/page/' + ${i}}">[[${i}]]</a>
   						<span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
					</li>
					<li class="page-item">
						<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/book/page/' + ${currentPage + 1}}">Kế Tiếp</a>
						<span class="page-link" th:unless="${currentPage < totalPages}">Kế Tiếp</span>
					</li>
					<li class="page-item">
						<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/book/page/' + ${totalPages}}">Cuối Cùng</a>
						<span class="page-link" th:unless="${currentPage < totalPages}">Cuối Cùng</span>
					</li>
				</ul>
			</nav>
		</div> 
		
		<!-- phân trang end -->
</section>

</div>    
    <!--main content end-->
</body>

</html>
