<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="authentication/base::layout(~{::section})" >
<head>
<meta charset="UTF-8" >
<title th:text="${title}"></title>
</head>
<body>

	<section class="ftco-section">
		<div class="container">
		 <!-- message -->
     		<div class="row justify-content-center" >
		    <header >
		       <div th:if="${param.error}" class="alert alert-danger " >Tài khoản hoặc mật khẩu không đúng!!</div>
		       <div th:if="${param.logout}" class="alert alert-success " >Bạn đã đăng xuất!!</div>
		        <div th:if="${param.accessDenied}" class="alert alert-danger " >Bạn không đủ quyền truy cập!!</div>
		       <div th:if="${param.change}" class="alert alert-success " ><p th:text="${param.change}" ></p></div>
     		</header>
		 </div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
					
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-key"></span>
		      	</div>
		      	
		      	<h3 class="text-center mb-4">Quên mật khẩu</h3>
		      		<p class="text-center mb-4" >Chúng tôi sẽ gửi một đường link reset password tới email của bạn!</p>
				<form th:action="@{/forgot_password}" class="login-form" method="post">
				
		      		<div class="form-group">
		      			<input type="email" class="form-control rounded-left" name="email" placeholder="Nhập email !!!" required>
		      		</div>
		      		
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Gửi</button>
	            </div>
	            
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>