<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="authentication/base::layout(~{::section})" >
<head>
<meta charset="UTF-8" >
<title th:text="${title}"></title>
</head>
<body>

	<section class="ftco-section">
		<div class="container">
		 <!-- message -->
     		<div class="row justify-content-center" >
		    <header >
		        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
				<p style="color: red;" class="text-center" th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
     		</header>
		  </div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
					
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-key"></span>
		      	</div>
		      	
		      	<h3 class="text-center mb-4">Quên mật khẩu</h3>
		      		<p class="text-center mb-4" >Chúng tôi sẽ gửi một đường link reset password tới email của bạn!</p>
				<form th:action="@{/forgot_password}" class="login-form" method="post">
				
		      		<div class="form-group">
		      			<input type="email" class="form-control rounded-left" name="email" placeholder="Nhập email !!!" required>
		      		</div>
		      		
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Gửi</button>
	            </div>
	            
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>