<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{user/base.html}" >

<head>

</head>

<body>
    <!--main content start-->
    <section id="main-content" layout:fragment="content">
      	
      <div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(/user/images/slider/slider-bg-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Knowledge is Power</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
					 Sách là kho tàng tri thức của nhân loại. <br />
					 Có một câu danh ngôn về việc đọc sách như sau: <br />
					  “Gặp được một quyển sách hay nên mua liền dù đọc được hay không đọc được, vì sớm muộn gì cũng cần đến nó” </p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" href="service.html">Bắt Đầu</a>
				</div>
			</div>
		</div>
	</div>
</div>
      
    </section>
    
 
    <!--main content end-->
	
</body>

</html>
