<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{admin/base.html}" >

<head>
</head>

<body>

    <!--main content start-->
       	<section id="main-content" layout:fragment="content">
    	<section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-files-o"></i>Thêm Tác Giả</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-pencil-square"></i><a th:href="@{/author}">Tác giả</a></li>
              <li><i class="icon_document_alt"></i>thêm mới</li>
            </ol>
          </div>
        </div>
    	
		<!-- form new -->	
		   <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Họ và Tên<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control" id="cname" name="name" type="text" required />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="cemail" class="control-label col-lg-2">E-Mail <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control " id="cemail" type="email" name="email" required />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="cyear" class="control-label col-lg-2">Năm Sinh</label>
                      <div class="col-lg-10">
                        <input class="form-control " id="cyear" name="year" type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="cnumber" class="control-label col-lg-2">Phone <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control" id="subject" name="cnumber" type="number" required />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="caddress" class="control-label col-lg-2">Địa chỉ</label>
                      <div class="col-lg-10">
                        <input class="form-control " id="caddress" name="address" type="text" required></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="button">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
		<!-- form new end -->	
     	 
    	</section>
	</section>	  
    <!--main content end-->
</body>

</html>
