<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
      <div id="sidebar" class="nav-collapse " th:fragment="menu">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" th:href="@{/index}">
                          <i class="icon_house_alt"></i>
                          <span>Bảng Điều Khiển</span>
                      </a>
          </li>
			<li class="sub-menu"><a th:href="@{/book}" class=""> <!-- <i class="icon_document_alt"></i> -->
					<span>Sách</span> <!-- <span class="menu-arrow arrow_carrot-right"></span> -->
			</a> <!-- <ul class="sub">
              <li><a class="" href="form_component.html">Form Elements</a></li>
              <li><a class="" href="form_validation.html">Form Validation</a></li>
            </ul> --></li>
			<li class="sub-menu">
            <a class="" th:href="@{/authors}" >                        
                          <span>Tác Giả</span>                
                      </a>        
          </li>
          <li class="sub-menu">
            <a class="" th:href="@{/category}" >                        
                          <span>Thể Loại</span>                
                      </a>        
          </li>
          <li>
            <a class="" th:href="@{/publisher}" >                      
                          <span>Nhà Xuất Bản</span>
                      </a>
          </li>
          <li>
            <a class="" th:href="@{/borrow}" >
                          <span>Danh Sách Mượn</span>
                      </a>
          </li>
           <li>
            <a class="" th:href="@{/member}" >
                          <span>Thành Viên</span>
                      </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>  
</body>
</html>