<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  

  <title th:text="${title}" ></title>

  <!-- Bootstrap CSS -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="/admin/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="/admin/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/admin/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="/admin/css/style.css" rel="stylesheet">
  <link href="/admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" th:action="@{/check_login}" method="post">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" name="username" class="form-control" placeholder="Username" autofocus required="required">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <label class="checkbox">
                <span class="pull-left"> <a th:href="@{/register}">Đăng ký</a></span>
                <span class="pull-right"> <a href="#"> Quên mật khẩu</a></span>
            </label>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng Nhập</button>
      </div>
    </form>
  </div>


</body>

</html>
