<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="authentication/base::layout(~{::section})" >
<head>
<meta charset="UTF-8" >
<title th:text="${title}" ></title>
</head>
<body>

	<section class="ftco-section">
		<div class="container">
		 <!-- message -->
     		<div class="row justify-content-center" >
		    <header >
		       <div th:if="${param.error}" class="alert alert-danger " >Tài khoản hoặc mật khẩu không đúng!!</div>
		       <div th:if="${param.logout}" class="alert alert-success " >Bạn đã đăng xuất!!</div>
		       <div th:if="${param.change}" class="alert alert-success " ><p th:text="${param.change}" ></p></div>
     		</header>
		 </div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Đăng Nhập</h3>
				<form th:action="@{/check_login}" class="login-form" method="post">
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" name="username" placeholder="Tài Khoản" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" name="password" placeholder="Mật Khẩu" required>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50"> <a th:href="@{/register}">Đăng Ký</a></div>
					<div class="w-50 text-md-right"><a href="#">Forgot Password ?</a></div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Bắt Đầu</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>