<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="authentication/base::layout(~{::section})" >
<head>
<meta charset="UTF-8" >
<title th:text="${title}" ></title>
</head>
<body>
	<section class="ftco-section">
		<div class="container mb-10">
		 <!-- message -->
     		<div class="row justify-content-center" >
			   <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
				<p class="text-center" th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
		 </div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Đăng Ký</h3>
				<form  th:action="@{/register}" th:object="${user}" class="login-form" method="post">
				 	<!-- name field -->
		      		<div class="form-group">
		      			<input 
		      				type="text" 
		      				class="form-control rounded-left" 
		      				name="name" 
		      				th:value="${user.name}"
		      				placeholder="Nhập Tên !!!" 
		      				required
		      				th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}">
		      				
		      				<!-- validation -->
						<div id="validationServerUsernameFeedback" class="invalid-feedback" th:each="e : ${#fields.errors('name')}"th:text="${e}" ></div>
		      		</div>
		      		<br />
		      		<!-- username field -->
		      		<div class="form-group">
		      			<input 
		      				type="text" 
		      				class="form-control rounded-left" 
		      				name="username" 
		      				th:value="${user.username}"
		      				placeholder="Tài Khoản" 
		      				required
		      				th:classappend="${#fields.hasErrors('username') ? 'is-invalid':''}">
		      				
		      				<!-- validation -->
						<div id="validationServerUsernameFeedback" 
							 class="invalid-feedback" 
							 th:each="e : ${#fields.errors('username')}"
							  th:text="${e}" ></div>
		      		</div>
		      		<br />
		      		<!-- email field -->
		      		<div class="form-group">
		      			<input 
		      				type="text" 
		      				class="form-control rounded-left" 
		      				name="email" 
		      				th:value="${user.email}"
		      				placeholder="Email" 
		      				required
		      				th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}">
		      				
		      				<!-- validation -->
						<div id="validationServerUsernameFeedback" 
							 class="invalid-feedback" 
							 th:each="e : ${#fields.errors('email')}"
							  th:text="${e}" ></div>
		      		</div>
		      		<br />
		      		<!-- password field -->
		      		<div class="form-group">
		      			<input 
		      				type="password" 
		      				class="form-control rounded-left" 
		      				name="password" 
		      				th:value="${user.password}"
		      				placeholder="Mật Khẩu" 
		      				required
		      				th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}">
		      				
		      				<!-- validation -->
						<div id="validationServerUsernameFeedback" 
							 class="invalid-feedback" 
							 th:each="e : ${#fields.errors('password')}"
							  th:text="${e}" ></div>
		      		</div>
				
	            <div class="form-group d-md-flex">
	            	<div class="w-50"> <a th:href="@{/login}">Quay về Đăng Nhập</a></div>
					<div class="form-group ">
	            	<button type="submit" class="btn btn-primary rounded ml-6">Đăng Ký</button>
	            </div>
	            </div>
	            
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>