<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
     <!--sidebar start-->

<footer id="footer" class="bg-one" th:fragment="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>about</h3>
          <p>Trang web này được sinh ra để mình tổng hợp lại kiến thức về Java.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>Các công nghệ được dùng</h3></li>
            <li><a href="#">Java Core</a></li>
            <li><a href="#">Spring Boot</a></li>
            <li><a href="#">Spring Security</a></li>
            <li><a href="#">MySQL</a></li>
            <li><a href="#">Spring Data JPA</a></li>
            <li><a href="#">Thymeleaf</a></li>
             <li><a href="#">Một số tools khác dành cho Java</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>Quick Links</h3></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ’s</a></li>
            <li><a href="#">Badges</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>Liên Hệ</h3></li>
            <li><a th:href="@{https://www.facebook.com/quanggdeptrai}">Facebook</a></li>
            <li><a th:href="@{https://github.com/huyquang2710}">Github</a></li>
            <li><p>Email: huyquang271099@gmail.com </p></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
</footer> <!-- end footer -->
</body>
</html>