<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
     <!--sidebar start-->

<header class="navigation fixed-top"  th:fragment="header">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      <a class="navbar-brand logo" th:href="@{/}">
        <img class="logo-default" style="width: 60px;"  src="/user/images/book-icon.png" alt="logo"/>
        <img class="logo-white" style="width: 60px;" src="/user/images/book-icon.png" alt="logo"/>
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link" th:href="@{/}" id="navbarDropdown" role="button" >
              Trang Chủ
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/book}">Sách</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            	Thể Loại
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="@{/user/info}">Thông Tin Cá Nhân</a>
              <a class="dropdown-item" th:href="@{/login}">Đăng Nhập</a>
              <a class="dropdown-item" th:href="@{/logout}" >Đăng Xuất</a>
            </div> -->
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="portfolio.html">Mượn</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Welcome:  <span style="text-transform: uppercase;" sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="@{/user/info}">Thông Tin Cá Nhân</a>
              <a class="dropdown-item" th:href="@{/login}">Đăng Nhập</a>
              <a class="dropdown-item" th:href="@{/logout}" >Đăng Xuất</a>
            </div>
          </li>
          
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>

</body>
</html>