<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="~{admin/base.html}" >

<head>
	<style> 
		.form-control {
			width: 80%;
		}
		.mt {
			margin-top: 2%;
		}
		.invalid-feedback {
			color: red;
		}
	</style>
	<script src="/js/publisher.js" ></script>
</head>
<body>
    <!--main content start-->
       	<section id="main-content" layout:fragment="content">
    	<section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-files-o"></i>Sửa Thể Loại</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-pencil-square"></i><a th:href="@{/admin/category}">Thể Loại</a></li>
              <li><i class="icon_document_alt"></i>cập nhật</li>
            </ol>
          </div>
        </div>
    	
		<!-- form new -->	
		<div class="panel-body">
		 <form class="form-validate form-horizontal" id="feedback_form" method="post" th:object="${category}" th:action="@{/admin/category/update}"
		 		enctype="multipart/form-data">
		   <div class="col-lg-8">
                <div class="form">
                	<input type="hidden" name="id" th:value="${category.id}"  />
                	<!-- name -->
                    <div class="form-group ">
                      <label for="cname" class="control-label col-lg-2">Tên Thể Loại</label>
                      <div class="col-lg-10">
                        <input class="form-control" id="cname" name="name" type="text"  th:value="${category.name}" 
                        		th:errorClass="is-invalid" />
                        	<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                      </div>
                  
                    </div>
                    
                    <!-- code -->
                    <div class="form-group ">
                      <label for="ccode" class="control-label col-lg-2">Code</label>
                      <div class="col-lg-10">
                        <input class="form-control " id="ccode" type="text" name="code"  th:value="${category.code}" 
                        		th:errorClass="is-invalid" /> 
                         	<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="invalid-feedback"></div>
                      </div>
                                 
                    </div>
                </div>
			</div>
			<!-- button -->
			<div class="form-group text-center ">
                <div class="col-lg-offset-1 col-lg-9 mt">
                   <button class="btn btn-primary" type="submit">Cập Nhật</button>
                   <button class="btn btn-default" onclick="reset()" type="reset">Reset</button>
                </div>
            </div>
		 </form>
     </div>
	<!-- form new end -->	
     	 
    	</section>
	</section>	  
    <!--main content end-->
   
</body>

</html>
